body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d
}

aside img {
    width: 80px;
    float: left;
}

aside .logo {
    font-size: 20px;
    margin-left: 10px;
    font-weight: bold;
    top: 15px;
}

aside ul i{
    float: left;
    margin-right: 3px;
    margin-top: 5px;
}
aside h3 {
    margin-top: 50px;
    font-size: 28px; 
}

main .features{
    color: #fff;
    text-align: center;
    margin-left: 80px;
    
}
